.container {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 12px;
  height: 100%;
  width: 70vw;
  margin-left: 15%;

  &_description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
    width: 35vw;
    &_name {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &_file {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 8px;

    &_description {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 8px;
    }

    &_file {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: auto;
      width: 100%;
    }
  }
}