$main-color: #152c4d;
$second-color: #f55f5f;
$second-color-light: #f99f9f;
$foreground-color: #ffffff;
$width-sidebar: 280px;
$font-size: 16px;


$padding2: 2px;
$padding4: 4px;
$padding8: 0.5rem;
$padding16: 1rem;
