@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./vars";
:root {
  --background: #152c4d;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  // font-weight: 600;
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.layout {
  display: flex;
  height: 100vh;

  .sidebar {
    width: $width-sidebar; /* Фиксированная ширина боковой панели */
    background-color: $foreground-color;
    height: 100%;

    &__menu {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;

      .sidebar__menu-item {
        padding: 0.8rem 1rem;
        border-radius: 4px;
        color: $main-color;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          background-color: #f0f4f8; /* Подсветка при наведении */
        }

        &.active {
          background-color: #d1e3f8; /* Подсветка активного элемента */
          font-weight: 600; /* Выделение жирным */
          color: #003366;
        }

        a {
          text-decoration: none;
          color: inherit;
          display: block;
          width: 100%;
        }
      }
    }
    &__title {
      display: flex;
      font-size: 1.5rem;
      font-weight: 700;
      color: $main-color;
      margin: 1rem;
      justify-content: center;
      align-items: center;
    }
  }

  .header {
    height: 60px;
    background-color: $foreground-color;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
    width: min(100% - $width-sidebar, 100%);
  }

  .main {
    flex: 1; /* Основной контент занимает оставшееся место */
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      margin-top: 3.5rem;
      padding: 1.5rem; /* Отступы для children */
    }
  }
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: $second-color;
  border-radius: 0.2rem;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  font-size: 1.5rem;
  font-weight: 700;
  color: $foreground-color;
  gap: 0.8rem;

  &__title {
    font-weight: 900;
    color: $second-color;
  }

  &__link {
    font-weight: 600;
  }
}
