@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./vars";
:root {
  --background: #152c4d;
  --foreground: #ffffff;
  font-size: $font-size;
}

body {
  color: var(--foreground);
  // font-weight: 600;
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.inactive-link {
  pointer-events: none; /* Запрещаем клики */
  color: gray; /* Делаем текст серым */
  text-decoration: none; /* Убираем подчеркивание */
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.flex_sidebar_and_main{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
 .main {
    flex: 1; /* Основной контент занимает оставшееся место */
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      padding: $padding8; /* Отступы для children */
      overflow-y: auto;
    }
  }
.content::-webkit-scrollbar {
  width: 0.5rem;
}

.content::-webkit-scrollbar-thumb {
  background-color: $second-color;
  border-radius: 0.2rem;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  font-size: 1.5rem;
  font-weight: 700;
  color: $foreground-color;
  gap: 0.8rem;

  &__title {
    font-weight: 900;
    color: $second-color;
  }

  &__link {
    font-weight: 600;
  }
}
