.container {
    display: flex;
    // width: 1600px; /* Общая ширина: ширина таблицы + отступы + ширина панели */
    // max-width: 100%;
    gap: 48px;
    // justify-content: space-between;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    &_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        float: left;
        &_limit {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 16px;
        }
        &_search {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 16px;
        }
    }

    

    &_menu_table {
        width: 1000px;
        display: flex;
        flex-direction: column;
        border-collapse: collapse;

        &_row {
            display: flex;
            border-radius: 4px;
            margin-bottom: 16px;
            &_color {
                display: flex;
                border-radius: 4px;
                margin-bottom: 16px;
                border: 1px solid;
                align-items: center;
                justify-content: center;
            }
        }

        &_item {
            flex: 1;
            padding: 10px;
        }

        &_buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%; /* На мобильных устройствах контейнер занимает всю ширину */
        // padding: 10px; /* Добавляем padding для мобильных устройств */
        gap: 48px;

        &_left,
        &_menu_table {
            width: 100%;
            position: relative;
            margin: 0;
        }

        &_menu_table {
            margin-top: 20px;
            &_item {
                padding: 4px;
            }
        }

        &_buttons {
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            button {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}


