@import "../../../styles/vars";

.placeholder-animation {
  background: chartreuse;
}

.nomenclature {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки одинаковой ширины */
  grid-template-rows: 1fr 0.5fr; /* Две строки: верхняя и нижняя */
  gap: 2rem;
  margin-bottom: 2rem;
  font-weight: 900;
  background-color: $main-color;
  color: $foreground-color;

  .main-info {
    grid-column: 1; /* Располагается в первой колонке */
    grid-row: 1; /* В первой строке */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__list-answer {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      font-weight: 700;

      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      // color: $second-color-light;
      font-weight: 700;
      &__item {
        overflow-wrap: break-word;
        word-break: break-all;
        white-space: pre-line;
        border: 0.2rem solid $second-color-light;
        background-color: $main-color;
        border-radius: 4px;
        padding: 0.5rem;
        color: $foreground-color;
        font-weight: 500;
      }
    }

    &__timezone {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      font-weight: 700;
      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__owner {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      font-weight: 700;
      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__status {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      font-weight: 700;
      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__version {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      font-weight: 700;
      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__created {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      font-weight: 700;
      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }
  }

  .settings {
    grid-column: 2; /* Во второй колонке */
    grid-row: 1; /* В первой строке */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__default-volume {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      &-item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__default-worktime {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      // color: $second-color-light;
      &-item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__title {
      font-weight: 700;
      cursor: pointer;
      // color: $second-color-light;
    }

    &__accordion {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      &-custom {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        // color: $second-color-light;
        &-item {
          // color: $foreground-color;
          font-weight: 500;
        }
      }
      &-item {
        summary {
          font-weight: 500;
          cursor: pointer;
          // color: $foreground-color;
        }
      }

      &-content {
        margin-top: 0.5rem;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }

  .hwinfo {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__main {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      &__model {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        // color: $second-color-light;
        font-weight: 700;
        &__item {
          // color: $foreground-color;
          font-weight: 500;
        }
      }

      &__revision {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        // color: $second-color-light;
        font-weight: 700;
        &__item {
          // color: $foreground-color;
          font-weight: 500;
        }
      }

      &__serial-number {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        // color: $second-color-light;
        font-weight: 700;
        &__item {
          // color: $foreground-color;
          font-weight: 500;
        }
      }
    }

    &__audio-devices {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: $second-color;
      font-weight: 800;
      &__item {
        color: $foreground-color;
        font-weight: 500;
      }
    }

    &__interfaces {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      &__title {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        // color: $second-color-light;
        font-weight: 700;
      }
      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }

    &__sd-card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__title {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        // color: $second-color-light;
        font-weight: 800;
      }
      &__item {
        // color: $foreground-color;
        font-weight: 500;
      }
    }
  }

  .knopochki {
    grid-column: 2; /* Во второй колонке */
    grid-row: 2;
  }
}
