@import "../../../styles/vars";

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.pagination-info {
  font-size: 14px;
  color: #333;
}

.pagination-controls {
  display: flex;
  gap: 10px;
}

.pagination-button {
  background-color: $main-color;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-height: 32px;
  max-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-button:hover {
  background-color: #d3d3d3;
}

.pagination-button:active {
  background-color: #ccc;
}
